*{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}
/* .score{
    width: fit-content;
    height: 100px;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;

}
#Score{
    height: fit-content;
    background-color: transparent;
} */