*{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}
.scoring{
    width: fit-content;
    height: fit-content;
    background: white;
    position: fixed;
}
.scoring1{
    height: fit-content;
}
